* {
    margin: 0;
    padding: 0;
}

.app {
    width: 1000px;
    min-height: 500px;
    background-color: #ddd;
    margin: 0 auto;
    padding: 20px;
}

.header {
    height: 100px;
    background-color: #6aa84f;
    margin-bottom: 20px;
}

.navigation {
    width: 200px;
    height: 500px;
    background-color: #6fa8dc;
    display: inline-block;
    vertical-align: top;
}

.main {
    width: 700px;
    height: 500px;
    background-color: #e06666;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    padding: 10px;
}

.subcontent {
    width: 200px;
    height: 200px;
    background-color: #ffd966;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.advertisement {
    height: 200px;
    background-color: #b4a7d6;
    margin: 10px;
}